{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "useBuiltIns": "usage"
          }
        ],
        "stage-3"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "useBuiltIns": "usage"
          }
        ],
        "stage-3"
      ]
    }
  }
}
